:root {
  --title-color: #164583;
  --secondary-color: #4c8bde;
  --progress-color: #8dd4ef;
  --pogress-color-active: #0987ee;
  --value-color: #707071;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html {
  font-size: 62.5%;
}
.app-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
}
.container {
  margin-bottom: 5rem;
}

.form__title {
  text-align: center;
  color: var(--title-color);
  font-size: 3.5rem;
}

.input-wrapper {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
}

.input-field {
  padding: 0.5rem;
  font-size: 2rem;
}
.input-group {
  margin-top: 2rem;
}
.input-group input::placeholder {
  text-align: center;
}
.input-group label {
  display: inline-block;
  width: 200px;
  color: #4c8bde;
  font-size: 2rem;
  text-align: left;
}

/* Brands Style */

.brand__title {
  text-align: center;
  font-size: 2.5rem;
  color: var(--title-color);
}

.brands-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.brand-card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1.5rem 3rem;
  border-radius: 10px;
  margin: 1.5rem 2rem;
  cursor: pointer;
}

.brand-card p {
  color: #797979;
  font-style: italic;
  font-size: 2rem;
}

.business-card-section {
  display: none;
  align-items: center;
  margin-top: -2rem;
}
.business-card-section span {
  margin-left: 1rem;
  font-size: 1.2rem;
}

#brand-business-card {
  text-align: center;
  font-size: 1.6rem;
  padding: 0.5rem 0;
}

.brand-progress-bar {
  width: 100px;
  height: 23px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--progress-color);
}
#brand-card-value {
  font-size: 2.5rem;
  color: var(--value-color);
}

.business-card-name {
  color: var(--secondary-color);
  border: 2px solid #adadad;
  border-radius: 5px;
  padding: 1rem;
}
.business-card-name h3 {
  font-size: 1.5rem;
}

/* Rewards Style */
.rewards-wrapper {
  display: flex;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid #adadad;
  gap: 2rem;
}
.min-width {
  min-width: 350px;
}

.image-wrapper {
  width: 120px;
}

.image-wrapper img {
  width: 100%;
}

.reward-type {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.5rem;
}

.reward-type h4 {
  color: var(--secondary-color);
}
.reward-type h3 {
  color: #3177d2;
}

.rewards-section {
  margin-top: -2rem;
}

.progress-bar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 0;
}

.progress-group {
  display: flex;
  align-items: center;
}

.progress-group p {
  margin-left: 1rem;
  font-size: 2rem;
}

.reward-progress-bar {
  width: 100px;
  height: 23px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--progress-color);
}

.reward--unlimited p {
  font-size: 2.3rem;
  color: var(--value-color);
}

.reward--lifetime {
  width: 120px;
  height: 23px;
  background-color: var(--pogress-color-active);
}
#lifetime {
  font-size: 3rem;
  color: var(--value-color);
}

.error {
  display: none;
  color: red;
  margin-top: 2rem;
}

.calculations-result {
  display: none;
}
